.u-section-1 .u-sheet-1 {
  min-height: 924px;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 142px auto 0;
}

.u-section-1 .u-form-1 {
  background-image: none;
  height: 428px;
  width: 570px;
  margin: 60px auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}